<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-config" content="none"> 
    <meta name="theme-color" content="#2c343d"> 
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/colcon.css' />
    <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
 </head>
  <body>
    <div class="wrapper">
      {{> homebar}}
      {{> sidenav}}
      {{#if flashMsg}}
        <p class="flashMsg">{{{flashMsg}}}</p>
      {{/if}}
      {{{body}}}
      {{> footer}}
    </div>
  </body>
</html>
