<div id="topbox">
    <div style="margin-left: 10px;">

        <h2><img style="margin-right: 4px" src="/images/tag.png">Tags</h2>

        {{#each taglist}}
            <a href="/tags/gettag/{{id}}">{{statement}}</a><br/>
        {{/each}}
    </div>

</div>