<div id="topbox">
    <div style="margin-left: 20px">
        <h2><img style="margin-right:4px;" src="/images/tag.png">{{result.statement}}</h2>
        {{#each result.tags}}
            <a href="/conversation/{{id}}">{{statement}}</a><br/>
        {{/each}}
    </div>
</div>