
.mcontainer {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}
 
.wrapper {
	width: 980px;
	background: silver;
	margin: 0 auto;
}

#homebar {
    width: 958px;
    margin: 12px;
    height: 32px;
    vertical-align: middle;
}
#topbox {
	width: 958px;
    border: 1px solid black;
	background: white;    
    margin: 12px;
    font-family:pragmatica-web,sans-serif;
}

/**
 * Enable columns to scroll right and left
 */
.columnscroller {
    border: 1px solid black;
    width: 960;
    white-space:nowrap;
    overflow-x: scroll; 
    overflow-y: hidden;
    margin: 12px;
    height: 400px; 
}

/**
 * width is set to accomodate lots of columns.
 * If they wrap when adding more columns, then
 * width must increase
 */
.columncontainer {
	width: 1700px;
}
.datacontainer {
	width: 1700px;
}

.headerimage {
    vertical-align: middle;
    margin-right: 4px;
}
.column {
    float:left;
    border: 1px solid black;
    width: 238px;
    background: white;
    overflow:scroll;
}
.datacolumn {
    float:left;
    border: 1px solid white;
    width: 238px;
    background: white;
    overflow:scroll;
}

 
#viewfooter {
    clear: both;
    margin-top: 10px;
	width: 958px;
    border: 1px solid black;
	background: white;    
    margin: 12px;    
}

.node {
    border: 1px solid black;
    border-radius: 3px;
}

.respond {
    float: right;
    vertical-align: bottom;
    margin-right: 4px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(197, 190, 190); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color 
.sidenav a:hover {
    color: #f1f1f1;
}*/

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}